*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    margin: 0 auto;
}
.logo-sol-central{
    width: 100px;
    align-items: center;
    
}
body{
    margin: 0 auto;
}
a:hover{
    background-color: orange;
    color: white;
    font-size: 20px;
}
.logo-sol-central img:hover{
    scale: 1.2;
}